/bootstrap/compiled.php
/app/config/app.php
/app/config/auth.php
/app/config/cache.php
/app/config/database.php
/app/config/mail.php
/app/config/remote.php
/app/config/session.php
/vendor
composer.phar
composer.lock
.DS_Store
Thumbs.db
.idea
/app/_ide_helper.php
/public/uploads
/public/uploads/dropzone
/app/storage/cache
/app/storage/sessions
/app/storage/views
/app/config/dev_*
/jquery-file-upload/server/php
.tm_properties
/node_modules
/bower_components
/lib
/.sass-cache
