/*images Uploader*/
   
  .thumb {
    height: 120px;
    border: 1px solid #000;
    margin: 5px 5px 0 0;
  }
  .example {
    border: 1px solid #ccc;
    padding: 5px;
}
#zone {
  border:2px dashed #BBBBBB;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color:#BBBBBB;
  height: 195px;

  
 

  line-height:normal;
  padding:10px;
  text-align:left;
}

#zonepicandtitle {
 
  margin-top:-50px; 
  line-height:normal;
  padding:10px;
  text-align:center;
}




/*red buttons without border*/

.btn-u-red {


 padding: 2.9px 13px!important;
}





/*Lightbos*/

#lightbox {
   position: absolute;
   top: 0;
   left: 50%;
   width: 200px;
   margin-left: -50px;
   margin-top: 200px;
   background: #fff;
   z-index: 1001;
   display: none;
   color: #85b81d;
   text-align: center;
   font-weight: bold;
   }
   #lightbox-shadow {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #000000;
   filter: alpha(opacity=75);
   -moz-opacity: 0.75;
   -khtml-opacity: 0.75;
   opacity: 0.75;
   z-index: 1000;
   display: none;
   }



   .form-control.input-sm {
   margin-right:10px;
  
  
   }

.even.selected
{
   margin-right:10px;  
   color:#ffffff;
   }
   .odd.selected
{
   margin-right:10px;  
   color:#ffffff;
   }


/*sucess Buttons */
.btn-success {
    background-color: #85b81d;
    border-color: #85b81d;
    color: #FFFFFF;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open .dropdown-toggle.btn-success {
    background-color: #7aaa19;
    border-color: #cccccc;

    color: #FFFFFF;
}

.btn-success.disabled, .btn-success[disabled], fieldset[disabled] .btn-success, .btn-success.disabled:hover, .btn-success[disabled]:hover, fieldset[disabled] .btn-success:hover, .btn-success.disabled:focus, .btn-success[disabled]:focus, fieldset[disabled] .btn-success:focus, .btn-success.disabled:active, .btn-success[disabled]:active, fieldset[disabled] .btn-success:active, .btn-success.disabled.active, .btn-success.active[disabled], fieldset[disabled] .btn-success.active {
    background-color: #8cc121;
    border-color: #8cc121;
}


/* Notifaction ausschalten ANFANG*/

#notification {
 color: #ffffff;
display: none;
}

.alert-warning {
    background-color: #b30425;
    border-color: #FBEED5;
    color: #ffffff;
}

.alert-success {
    background-color: #85B81D;
    border-color: #FBEED5;
    color: #ffffff;
}

.alert-danger {
    background-color: #b30425;
    border-color: #FBEED5;
    color: #ffffff;
}

/* Notifaction ausschalten Ende*/




/* STERN Plichtfeld Anfang*/
.stern{
color:#b82f1d;
margin-top:-2px;
};

.label-danger {
    background-color: #D9534F;
}
.label {
    border-radius: 0.0em;
    color: #FFFFFF;
    display: inline;
   
    font-weight: bold;
    line-height: 1;
    padding: 0.2em .3em 0.3em;
    text-align: center;
	vertical-align: top !important;
    white-space: nowrap;
	
}
/* STERN Plichtfeld Ende*/

/*Warenkorb ANFANG*/


.warenkorb{
background-color:#85b81d; 
border: 0px solid #B3B2B2; 
padding:3px; 
color:#ffffff;
list-style: none!important;
  position: relative;
  float: left;    
  -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:0px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
	 width: 100%;
};

.warenkorbul ul   {
   float: left;   
   list-style: none!important;
   color:#ffffff !important;
border: 0px solid #B3B2B2; 
}

div.hr {
  height: 3px;
  background: #fff url(hr1.gif) no-repeat scroll center;
}
div.hr hr {
  display: none;
};



/* Warenkorb ENDE*/














